<!doctype html>
<html lang="en">
<head>
    <title>Add a Quote</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
</head>

<body>
<div class="container">
    <div class="mt-5">
        <div class="float-left">
            <h2>Submit a Quote</h2>
        </div>

        <div class="float-right">
            <a href="/" class="btn btn-primary">Go Home</a>
        </div>

        <div class="clearfix"></div>

        <form method="POST" action="/add-quote" class="mt-5">
            %s

            <button type="submit" class="btn btn-success float-right">Submit</button>

        </form>

        <div class="clearfix"></div>
    </div>

    <footer class="text-right text-muted mb-5 mt-5">
        <em>yet another useless project by seejy</em>
    </footer>
</div>
</body>
</html>