<!doctype html>
<html lang="en">
<head>
    <title>Quotes</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
</head>

<body>
<div class="container">
    <div class="mt-5">

        <div class="float-left">
            <h2>Quotes</h2>
        </div>

        <div class="float-right">
            <a href="/add-quote" class="btn btn-success">Add a Quote</a>
        </div>

        <div class="clearfix"></div>

        {{ range $index, $quote := .Quotes }}
            <div class="card mt-5 mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-2 col-md-2 col-lg-1">
                            <i class="fas fa-quote-left" style="font-size: 3em; color: #0a84ff; float: left; margin-right: 30px; margin-left: 20px;"></i>
                        </div>

                        <div class="col-12 col-sm-10 col-md-10 col-lg-11">
                            <h3 class="mt-4">{{ $quote.HTML }}</h3>
                        </div>
                    </div>

                    <div class="float-right text-muted">
                        ~ {{ $quote.WhoSaidTheSillyThing }}<br>
                        <small>Submitted on {{ $quote.Time.Format "Mon, 02 Jan 2006 15:04:05 MST" }}</small>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>

    <footer class="text-right text-muted mb-5">
        <em>yet another useless project by seejy</em>
    </footer>
</div>
</body>
</html>